<html lang="de">
<head>
    <title>sea more | Rette unseren Ozean</title>
    <%- include ('partials/head') %>
</head>

<%- include ('partials/scripts') %>

<body>
    <canvas id="mycanvas"></canvas>
    <div class="base">
        <div id="logo"><a href="/"><img src="/assets/logo.svg" /></a></div>
        <div class="menu-button menu-icon"></div>
    </div>
    <div class="base-bottom">
        <div id="qrcode-bottom">
           
        </div>
        <div class="facts">
            <ul class="slider">
                <li>80 Prozent des Mülls werden vom Land ins Meer gespült</li>
                <li>75 Prozent des Mülls im Meer besteht aus Plastik</li>
                <li>Über 150 Millionen Tonnen Plastikmüll belasten mittlerweile unsere Ozeane</li>
                <li>Mehr als 10 Millionen Tonnen Müll landen pro Jahr in den Ozeanen</li>
                <li>Auf jedem Quadratkilometer der Wasseroberfläche treiben inzwischen bis zu 18.000 Plastikteile unterschiedlichster Größe</li>
                <li>Mehr als 70 Prozent des Mülls sinken auf den Meeresboden, nur 15 Prozent treiben an der Oberfläche</li>
                <li>Es gibt fünf große hydrographische Wirbel in denen sich gigantische Müllteppiche im Zentrum der Ozeane ansammeln</li>
                <li>Über 27 Prozent des Mülls sind Einwegkunststoffprodukte</li>
                <li>19,2 kg Fisch pro Jahr isst jeder Mensch durchschnittlich – etwa doppelt so viel wie noch vor 50 Jahren</li>
                <li>Zwischen 1970 und 2010 gingen Fischpopulationen weltweit um 50 Prozent zurück</li>
                <li>Illegaler Fischfang macht nach Schätzungen zwischen 12 und 28 Prozent des weltweiten Fischfangs aus</li>
                <li>31% der Fischbestände sind überfischt</li>
                <li>Illegale und unregulierte Fischerei macht ca. 30% des weltweiten Fischfangs aus</li>
                <li>38 Millionen Tonnen Beifang pro Jahr, das entspricht ca. 40% des weltweiten Fischfangs</li>
                <li>80.000 Vögel sterben durch Fischernetze pro Jahr</li>
            </ul>
            <div class="slider-navigation">
                <div class="arrow left"></div>
                <div class="arrow right"></div>
            </div>
        </div>
        <div class="treasure-hunt">
            <img src="/assets/treasure.png" />
            <div id="counter">
                0/5
            </div>
        </div>
    </div>

    <%- include ('partials/navigation') %>

    <%- include ('partials/loading-screen') %>
    <%- include ('partials/start-intro') %>
    <%- include ('partials/all-coins-collected') %>

    <script src="/dist/bundle.js"></script>

    <div id="infopages">
        <!-- Content will be rendered on click -->
    </div>
    
</body>
</html>