<html lang="de">
<head>
    <title>sea more | Rette unseren Ozean</title>
    <%- include ('partials/head') %>
</head>

<%- include ('partials/scripts') %>

<body>
    <canvas id="mycanvas"></canvas>
    <div class="base">
        <div id="logo"><a href="/"><img src="/assets/logo.svg" /></a></div>
        <div class="menu-button menu-icon"></div>
        <div id="counter">
            0/5
        </div>
        
        <a href="#help" id="help-button" class="button"><span class="text">Unternimm etwas <i class="arrow-white right"></i></span></a>
    </div>

    <%- include ('partials/navigation') %>

    <%- include ('partials/loading-screen') %>
    <%- include ('partials/start-intro') %>
    <%- include ('partials/all-coins-collected') %>


    <script src="/dist/bundle.js"></script>
    <script src="/dist/menu.js"></script>

    <div id="infopages">
        <!-- Content will be rendered on click -->
    </div>

    
</body>
</html>