<script>
  infopage.init();
</script>

<div id="deep-sea-mining" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Bergbau in der Tiefe</h1>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation'); %>
      </div>
    </div>

    <div class="facts section text-left">
      <div class="text">
        <p>
          Für die Herstellung von Batterien oder Computern sind Metalle wie
          Nickel, Kupfer oder Cobalt sehr wichtig. Die Kosten für die Förderung
          an Land steigen jedoch kontinuierlich. Deshalb wird die Tiefsee immer
          interessanter. Dort gibt es Manganknollen, Massivsulfide und
          cobaltreiche Eisenmangankrusten.
        </p>
        <p>
          Doch der Abbau dieser Rohstoffe zerstört ein ganzes Ökosystem in der
          Tiefsee, dass bisher kaum erforscht ist. Erste Tests haben ergeben,
          dass die Schäden durch den Bergbau lange sichtbar sind. So fanden
          Forscher heraus, dass sich das Ökosystem auch nach 26 Jahren nicht
          vollständig erholt hat.
        </p>
      </div>
    </div>
  </div>
  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <svg
        id="bottom-info-line"
        width="1442px"
        height="769px"
        viewBox="0 0 1442 769"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g id="bottom-line">
            <%- include ('../partials/bottom-line-path'); %>
            <g id="Button-first" class="bottom-info-button">
              <%- include('../partials/bottom-line-button', {cx: 22, cy: 22.5}); %>
              <text class="svg-bottom-text" fill="currentColor">
                <tspan x="60" y="16">Keine Unternehmen unterstützen,</tspan>
                <tspan x="60" y="36">die von Tiefseebergbau profitieren,</tspan>
                <tspan x="60" y="56">oder selbst betreiben</tspan>
              </text>
            </g>
            <g id="Button-second" class="bottom-info-button">
              <%- include('../partials/bottom-line-button', {cx: 330, cy: 38.5}); %>
              <text class="svg-bottom-text" fill="currentColor">
                <tspan x="10" y="45">Weniger konsumieren,</tspan>
                <tspan x="10" y="65">nach dem Prinzip: refuse, reduce,</tspan>
                <tspan x="10" y="85">reuse, recycle, rot</tspan>
              </text>
            </g>
            <g id="Button-third" class="bottom-info-button">
              <%- include('../partials/bottom-line-button', {cx:22, cy:79.5}); %>
              <text class="svg-bottom-text" fill="currentColor">
                <tspan x="67" y="16">Unternehmen können ein</tspan>
                <tspan x="67" y="35"><a target="_blank" href="https://www.noseabedmining.org/">Formular ausfüllen</a>, welches</tspan>
                <tspan x="67" y="54">einen globales Moratorium</tspan>
                <tspan x="67" y="73">für den Tiefseebergbau fordert.</tspan>
              </text>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first">
      <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path fill="currentColor" id="bottom-wave-path" d=""/></svg>
    </div>
    <div class="background-element top">
      <img src="/assets/infopages/deep-sea-mining/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/deep-sea-mining/middle.png" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/deep-sea-mining/bottom.png" />
    </div>
  </div>
</div>
