<script>
  infopage.init();
</script>

<div id="deep-sea-mining" class="infopage">
  <div class="menu-button menu-icon"></div>

  <div class="grid-container">
    <div class="video-section section active">
      <%- include('../partials/video', { headline: 'Bergbau in der Tiefe', page: 'deep-sea-mining', src: 'rA82_3O2lD8' }); %>
    </div>

    <div class="facts section text-left">
      <div class="text">
        <p>
          Für die Herstellung von Batterien oder Computern sind Metalle wie
          Nickel, Kupfer oder Cobalt sehr wichtig. Die Kosten für die Förderung
          an Land steigen jedoch kontinuierlich. Deshalb wird die Tiefsee immer
          interessanter. Dort gibt es Manganknollen, Massivsulfide und
          cobaltreiche Eisenmangankrusten.
        </p>
        <p>
          Doch der Abbau dieser Rohstoffe zerstört ein ganzes Ökosystem in der
          Tiefsee, dass bisher kaum erforscht ist. Erste Tests haben ergeben,
          dass die Schäden durch den Bergbau lange sichtbar sind. So fanden
          Forscher heraus, dass sich das Ökosystem auch nach 26 Jahren nicht
          vollständig erholt hat.
        </p>
      </div>
    </div>
  </div>
  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <div class="bottom-info-svg-container">
        <div class="bottom-info-buttons">
          <div class="bottom-info-button first">
              Keine Unternehmen unterstützen, die von Tiefseebergbau profitieren, oder selbst betreiben
          </div>
          <div class="bottom-info-button second">
            Weniger konsumieren, nach dem Prinzip: refuse, reduce, reuse, recycle, rot
          </div>
          <div class="bottom-info-button third">
            Unternehmen können ein <a target="_blank" href="https://www.noseabedmining.org/">Formular ausfüllen</a>, welches einen globales Moratorium für den Tiefseebergbau fordert.
          </div>
        </div>
        
        <svg width="1920px" height="1024px" id="bottom-info-line" viewBox="0 0 1920 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="bottom-line">
                <%- include ('../partials/bottom-line-path'); %>
                  <g id="Button-first" class="bottom-info-button">
                    <%- include('../partials/bottom-line-button', {cx: 30, cy: 30}); %>
                  </g>
                  <g id="Button-second" class="bottom-info-button">
                    <%- include('../partials/bottom-line-button', {cx: 338, cy: 30}); %>
                  </g>
                  <g id="Button-third" class="bottom-info-button">
                    <%- include('../partials/bottom-line-button', {cx:30, cy:106}); %>
                  </g>
              </g>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="background-elements">
    <%- include ('../partials/wave'); %>
    <div class="background-element top">
      <img src="/assets/infopages/deep-sea-mining/top.svg" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/deep-sea-mining/middle.svg" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/deep-sea-mining/bottom.svg" />
    </div>
  </div>
</div>
