<script>
  infopage.init();
</script>

<div id="fishernets" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Plastik und Fischernetze</h1>
      <div class="video" style="background-image: url( 'assets/infopages/fishernets/fishernets.png' );">
        <div class="video_wrapper" >
            <div class="video_trigger" data-source="uvcleXH_GF8">
              <p class="text-center">Mit dem Aufruf des Videos erklärst du dich einverstanden, dass deine Daten an YouTube übermittelt werden und dass du die <a href="/datenschutz/" target="_blank">Datenschutzerklärung</a> gelesen hast.</p>
              <a class="button privacy-okay-btn" href="#"><span class="text">Akzeptieren</span></a>
            </div>
            <div class="video_layer"><iframe src="" border="0"></iframe></div>
        </div>
      </div>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Plastikmüll stellt für viele Meerestiere eine elementare Bedrohung
          dar. Da sich Plastikmüll nur sehr langsam zersetzt, könnte es in 35
          Jahren mehr Plastik als Fische im Meer geben.
        </p>
        <p>
          Ca. 4,8 bis 12,7 Millionen Tonnen an Plastikmüll gelangen pro Jahr ins
          Meer. Dadurch werden schätzungsweise über 800 Tierarten
          beeinträchtigt, also fast die Hälfte der Meeressäuger- und
          Seevogelarten. Zudem zerstört Plastikmüll Korallen, indem z.B.
          schädliche Erreger in das Riff gelangen. Dazu kommt, dass sich jedes
          Jahr zwischen 57.000 und 135.000 Wale, Robben und Seehunde in
          „Fischereimüll“, also verlorenen und weggeworfenen Tauen und Netzen
          verfangen.
        </p>
      </div>
    </div>
  </div>
  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <div class="bottom-info-buttons">
        <div class="bottom-info-button first">
          Trenne deinen Müll richtig. Anleitungen dafür gibt es auf den Internetseiten vieler Gemeinden oder beim <a href="https://www.muelltrennung-wirkt.de/" target="_blank">Umweltbundesamt.</a> 
        </div>
        <div class="bottom-info-button second">
          Achte darauf, dass du möglichst verpackungsfrei einkaufst. Dafür gibt es mittlerweile schon einige <a href="https://www.smarticular.net/muellfrei-einkaufen-alle-unverpacktlaeden/" target="_blank">Unverpackt-Läden</a>.
        </div>
        <div class="bottom-info-button third">
          Beteilige dich an <a href="https://www.trashbusters.de/aktionswochen/" target="_blank">Aufräumaktionen</a> in deiner Nähe, denn auch Plastikmüll am Ufer von Bächen und Flüssen kann irgendwann im Meer landen.
        </div>
        <div class="bottom-info-button fourth">
          Verzichte so gut es geht auf Einweg-Produkte wie Tüten, Einweg-Geschirr, Einweg-Kaffeebecher
        </div>
      </div>
      <svg width="1920px" height="1024px" id="bottom-info-line" viewBox="0 0 1920 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="bottom-line">
              <%- include ('../partials/bottom-line-path'); %>
                <g id="Button-first" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx: 30, cy: 30}); %>
                </g>
                <g id="Button-second" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx: 338, cy: 30}); %>
                </g>
                <g id="Button-third" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx:30, cy:106}); %>
                </g>
                <g id="Button-fourth" class="bottom-info-button" >
                  <%- include('../partials/bottom-line-button', {cx:412, cy:43}); %>
              </g>
            </g>
        </g>
      </svg>
    </div>
  </div>


  <div class="background-elements">
    <%- include ('../partials/wave'); %>
    <div class="background-element top">
      <img src="/assets/infopages/fishernets/top.svg" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/fishernets/middle.svg" />
      <div class="after-element"></div>
    </div>
    <div class="background-element bottom left">
      <img src="/assets/infopages/fishernets/bottom.svg" />
    </div>
  </div>
</div>
