<script>
  infopage.init();
</script>

<div id="fishernets" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Plastik und Fischernetze</h1>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Plastikmüll stellt für viele Meerestiere eine elementare Bedrohung
          dar. Da sich Plastikmüll nur sehr langsam zersetzt, könnte es in 35
          Jahren mehr Plastik als Fische im Meer geben.
        </p>
        <p>
          Ca. 4,8 bis 12,7 Millionen Tonnen an Plastikmüll gelangen pro Jahr ins
          Meer. Dadurch werden schätzungsweise über 800 Tierarten
          beeinträchtigt, also fast die Hälfte der Meeressäuger- und
          Seevogelarten. Zudem zerstört Plastikmüll Korallen, indem z.B.
          schädliche Erreger in das Riff gelangen. Dazu kommt, dass sich jedes
          Jahr zwischen 57.000 und 135.000 Wale, Robben und Seehunde in
          „Fischereimüll“, also verlorenen und weggeworfenen Tauen und Netzen
          verfangen.
        </p>
      </div>
    </div>
  </div>
  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <svg width="1442px" height="769px" viewBox="0 0 1442 769" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="bottom-line">
              <%- include ('../partials/bottom-line-path'); %>
                <g id="Button-first" transform="translate(240.000000, 328.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 152.435, cy: 22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="87">Trenne deinen Müll richtig. </tspan>
                      <tspan x="0" y="106">Anleitungen dafür gibt es auf den </tspan>
                      <tspan x="0" y="125">Internetseiten vieler Gemeinden </tspan>
                      <tspan x="0" y="144">oder beim Umweltbundesamt. </tspan>
                  </text>
                </g>
                <g id="Button-second" transform="translate(721.000000, 264.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 23.087, cy: 101.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="16">Achte darauf, dass du möglichst </tspan>
                      <tspan x="0" y="35">verpackungsfrei einkaufst. Dafür </tspan>
                      <tspan x="0" y="54">gibt es mittlerweile schon einige </tspan>
                      <tspan x="0" y="73">Unverpackt-Läden.</tspan>
                  </text>
                </g>
                <g id="Button-third" transform="translate(993.000000, 449.000000)">
                  <%- include('../partials/bottom-line-button', {cx:22.68, cy:56.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="67" y="16">Beteilige dich an Aufräumaktionen deiner </tspan>
                      <tspan x="67" y="35">Gemeinden, denn auch Plastikmüll am </tspan>
                      <tspan x="67" y="54">Ufer von Bächen und Flüssen kann </tspan>
                      <tspan x="67" y="73">irgendwann im Meer landen.</tspan>
                  </text>
                </g>
                <g id="Button-fourth" transform="translate(884.000000, 673.000000)">
                  <%- include('../partials/bottom-line-button', {cx:304.57, cy:22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="54">Verzichte so gut es geht auf </tspan>
                      <tspan x="0" y="73">Einweg-Produkte wie Tüten, </tspan>
                      <tspan x="0" y="92">Einweg-Geschirr, Einweg-Kaffeebecher</tspan>
                  </text>
              </g>
            </g>
        </g>
      </svg>
    </div>
  </div>


  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top">
      <img src="/assets/infopages/fishernets/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/fishernets/middle.png" />
    </div>
    <div class="background-element bottom left">
      <img src="/assets/infopages/fishernets/bottom.png" />
    </div>
  </div>
</div>
