<script>
  infopage.init();
</script>

<div id="microplastic" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Mikroplastik</h1>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Neben dem für den Mensch sichtbaren Plastik gibt es noch ein weiteres
          Problem: Mikroplastik. Das sind feste, unlösliche, nicht biologisch
          abbaubare Polymere mit einer große von 5 Millimetern bis 1000
          Nanometern. Sie entstehen entweder durch Abrieb von größeren
          Plastikstücken oder gelangen direkt durch z. B.Kosmetikartikel ins
          Abwasser.
        </p>
        <p>
          Die Plastikstücke werden von Tieren wie Fischen, Muscheln und
          Säugetieren über das Wasser und deren Nahrung aufgenommen. Sie können
          beispielsweise Gewebeveränderungen, innere Verletzungen und den Tod
          der Tiere hervorrufen. Ein weiteres Problem ist, dass diese Partikel
          so klein sind, dass sie nicht mehr aus dem Meer gefiltert werden
          können.
        </p>
      </div>
    </div>
  </div>

  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <svg width="1442px" height="769px" viewBox="0 0 1442 769" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="bottom-line">
              <%- include ('../partials/bottom-line-path'); %>
                <g id="Button-first" transform="translate(240.000000, 328.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 152.435, cy: 22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="87">Wasche deine Kleidung immer in </tspan>
                      <tspan x="0" y="106">einer vollen Waschmaschine.</tspan>
                      <tspan x="0" y="125">Dadurch kannst du die Anzahl an </tspan>
                      <tspan x="0" y="144">Mikroplastikpartikeln verringern.</tspan>
                  </text>
                </g>
                <g id="Button-second" transform="translate(721.000000, 264.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 23.087, cy: 101.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="16">Mach bei Müllsammelaktionen mit. In vielen Orten</tspan>
                      <tspan x="0" y="35">und Städten gibt es Aufrufe, sich an der</tspan>
                      <tspan x="0" y="54">Beseitigung von Müll aus der Landschaft zu beteiligen.</tspan>
                  </text>
                </g>
                <g id="Button-third" transform="translate(993.000000, 449.000000)">
                  <%- include('../partials/bottom-line-button', {cx:22.68, cy:56.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="67" y="16">Achte darauf, dass du deine Produkte oder</tspan>
                      <tspan x="67" y="35">Kleidung möglichst lange verwendest, </tspan>
                      <tspan x="67" y="54">bevor du sie sachgerecht entsorgst.</tspan>
                  </text>
                </g>
                <g id="Button-fourth" transform="translate(884.000000, 673.000000)">
                  <%- include('../partials/bottom-line-button', {cx:304.57, cy:22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="54">Verzichte auf Kosmetika mit </tspan>
                      <tspan x="0" y="73">Mikroplastikpartikeln und nutze </tspan>
                      <tspan x="0" y="92">Alternativen wie z.B. zertifizierte Naturkosmetik.</tspan>
                  </text>
              </g>
            </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top"></div>
    <div class="background-element middle">
      <img src="/assets/infopages/microplastic/middle.png" />
    </div>
    <div class="background-element bottom left">
      <img src="/assets/infopages/microplastic/bottom.png" />
    </div>
  </div>
</div>
