<script>
  infopage.init();
</script>

<div id="overfishing" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Überfischung</h1>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
    </div>

    <div class="facts section text-left">
      <div class="text">
        <p>
          Eine der größten Bedrohungen für unsere Meere stellt die Überfischung
          dar. Durch diesen Eingriff in die Unterwasserwelt kann nämlich unser
          ganzes Ökosystem tiefgreifend verändert werden.
        </p>
        <p>
          Durch den übermäßigen Fischfang wird das natürliche
          Regenerationsvermögen der Fischbestände zerstört. Fische und Muscheln
          haben keine Chance mehr sich fortzupflanzen und dadurch sinkt die ihre
          Population stark: seit den 1950er Jahren wurden bereits 90 Prozent der
          beliebtesten Fischsorten leer gefischt. Dadurch sterben nicht nur
          manche Fischarten komplett aus, sondern mit ihnen auch dutzende
          Arbeitsplätze.
        </p>
      </div>
    </div>
  </div>

  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <svg width="1442px" height="769px" viewBox="0 0 1442 769" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="bottom-line">
              <%- include ('../partials/bottom-line-path'); %>
                <g id="Button-first" transform="translate(240.000000, 328.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 152.435, cy: 22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="87">Konsumiere keine Meerestiere </tspan>
                      <tspan x="0" y="106">oder versuche deinen </tspan>
                      <tspan x="0" y="125">Konsum zu verringern.</tspan>
                  </text>
                </g>
                <g id="Button-second" transform="translate(721.000000, 264.000000)">
                  <%- include('../partials/bottom-line-button', {cx: 23.087, cy: 101.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="16">Wenn du Meeresfrüchte kaufst, </tspan>
                      <tspan x="0" y="35">achte darauf, dass sie zertifiziert sind.</tspan>
                  </text>
                </g>
                <g id="Button-third" transform="translate(993.000000, 449.000000)">
                  <%- include('../partials/bottom-line-button', {cx:22.68, cy:56.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="67" y="16">Mittlerweile gibt es schon viele </tspan>
                      <tspan x="67" y="35">Alternativen: Konsumiere lieber Omega-3</tspan>
                      <tspan x="67" y="54">aus pflanzlichen Quellen, z.B. aus Algen.</tspan>
                  </text>
                </g>
                <g id="Button-fourth" transform="translate(884.000000, 673.000000)">
                  <%- include('../partials/bottom-line-button', {cx:304.57, cy:22.5}); %>
                  <text class="svg-bottom-text" fill="currentColor">
                      <tspan x="0" y="54">Vermeide es, Fischarten zu essen, </tspan>
                      <tspan x="0" y="73">die vom Aussterben bedroht sind.</tspan>
                  </text>
              </g>
            </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top">
      <img src="/assets/infopages/overfishing/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/overfishing/middle.png" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/overfishing/bottom.png" />
    </div>
  </div>
</div>
